:root {
  /* Colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  /* card background */
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /* accent */
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutaral */
  /* main heading, stats */
  --white: hsl(0, 0%, 100%);
  /* main paragraph */
  --main-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --stat-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  /* Font families */
  --ff-primary: "Inter", sans-serif;
  --ff-second: "Lexend Deca", sans-serif;

  /* Font weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

ol,
ul {
  list-style-type: none;
}

/* Main style */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  line-height: 1.6;
  padding: 4rem 2rem;
  background-color: var(--very-dark-blue);
}

.container {
  display: grid;
  max-width: 71.875rem;
  border-radius: 0.5rem;
  background-color: var(--dark-desaturated-blue);
  color: var(--main-slightly-transparent-white);
}

.image-container {
  background-color: var(--soft-violet);
  border-radius: 0.5rem 0.5rem 0 0;
}

.image,
.desktop-img,
.mobile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.87;
  border-radius: 0.5rem 0.5rem 0 0;
  mix-blend-mode: multiply;
}

.content {
  display: grid;
  gap: 1rem;
  margin-top: 1.2rem;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
  color: var(--white);
}

.text-purple {
  color: var(--soft-violet);
}

.description {
  font-size: 1.125rem;
  margin-block: 1rem;
}

.stats {
  font-family: var(--ff-second);
  margin-block: 1rem;
}

.stat:not(:last-child) {
  margin-bottom: 2.4rem;
}

.stat-heading {
  font-family: var(--ff-primary);
  font-size: 1.7rem;
  color: var(--white);
}

.stat-info {
  text-transform: uppercase;
  font-size: 0.925rem;
  letter-spacing: 1px;
  font-weight: var(--fw-regular);
  margin-top: 0.5rem;
  color: var(--stat-slightly-transparent-white);
}

.attribution {
  text-align: center;
  padding-block: 2rem;
  color: var(--main-slightly-transparent-white);
}

.attribution a {
  color: var(--soft-violet);
}

.attribution a:hover {
  color: var(--white);
}

/* Desktop */
@media (min-width: 70em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .image-container {
    grid-column: 2 / 3;
  }

  .image-container,
  .image,
  .desktop-img,
  .mobile-img {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .content {
    grid-area: 1;
    margin-top: 0;
    padding: 5rem;
    text-align: start;
  }

  .heading {
    font-size: 2.4rem;
  }

  .description {
    font-size: 1rem;
  }

  .stats {
    display: flex;
    gap: 4rem;
    margin-block: 0;
    margin-top: 2.7rem;
  }

  .stat:not(:last-child) {
    margin-bottom: 0;
  }

  .stat-heading {
    font-size: 1.7rem;
  }
}
